<div id="contact-modal" class="modal">
    <div class="modal__content">
        <span class="modal__close">&times;</span>
        <h2 class="modal__title">Оставить заявку</h2>
        <p class="modal__subtitle">Оставьте ваши контакты, и наш менеджер свяжется с вами в течение 15 минут</p>
        <form class="modal__form">
            <input type="text" class="modal__input" placeholder="Ваше имя" required>
            <input type="tel" class="modal__input" placeholder="Ваш номер телефона" required>
            <button type="submit" class="modal__btn">Отправить заявку</button>
        </form>
        <div class="modal__contacts">
            <p class="modal__contacts-text">Или свяжитесь с нами напрямую:</p>
            <div class="modal__contacts-links">
                <a href="tel:+79669974545" class="modal__phone">+7 (966) 997-45-45</a>
                <div class="modal__socials">
                    <a href="https://max.ru/u/f9LHodD0cOI2IQRme1_Rowyt_StXBh8q8e7KMJSt-Klh_-3FPH7T7CqiYbQ"
                        class="messenger-icon messenger-icon--max" aria-label="Max">
                        <img src="images/max.png" alt="Max">
                    </a>
                    <a href="http://t.me/eko_vortex" class="messenger-icon messenger-icon--tg"
                        aria-label="Telegram">
                        <img src="images/telegramm.png" alt="Telegram">
                    </a>
                    <a href="https://wa.me/qr/7QOBVAD3NTXUM1" class="messenger-icon messenger-icon--wa"
                        aria-label="WhatsApp">
                        <img src="images/whatsapp.png" alt="WhatsApp">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
